@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  font-family: 'Share Tech Mono', monospace;
  background-color: #000;
  color: #22c55e; /* Tailwind green-500 */
}

body {
  background-color: #0f172a; /* Tailwind's slate-900 */
  color: #22c55e; /* Tailwind's green-500 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  padding: 1rem 0;
  text-align: center;
  background-color: #064e3b; /* Dark green */
  color: #a7f3d0; /* Light green */
  position: relative;
  bottom: 0;
  width: 100%;
}


h1.glitch {
  position: relative;
  color: #22c55e;
  font-size: 4rem;
  font-weight: 900;
}

h1.glitch::before,
h1.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  clip-path: polygon(0 2%, 100% 2%, 100% 32%, 0 32%);
}

h1.glitch::before {
  animation: glitchTop 1s infinite linear alternate-reverse;
  color: #4ade80;
  z-index: -1;
  top: -2px;
  left: 2px;
}

h1.glitch::after {
  animation: glitchBottom 1.5s infinite linear alternate-reverse;
  color: #16a34a;
  z-index: -1;
  top: 2px;
  left: -2px;
}

@keyframes glitchTop {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    transform: translate(0);
  }
  50% {
    clip-path: polygon(0 5%, 100% 5%, 100% 15%, 0 15%);
    transform: translate(-2px, -2px);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    transform: translate(0);
  }
}

@keyframes glitchBottom {
  0% {
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
    transform: translate(0);
  }
  50% {
    clip-path: polygon(0 85%, 100% 85%, 100% 95%, 0 95%);
    transform: translate(2px, 2px);
  }
  100% {
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
    transform: translate(0);
  }
}

.tool-card {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease;
}

.tool-card:hover {
  background-color: #064e3b; /* Tailwind green-900 */
  cursor: pointer;
}
