.input {
  padding: 0.6rem;
  background-color: #1e1e1e;
  border: 1px solid #f87171;
  color: white;
  border-radius: 6px;
}

.btn {
  background-color: #f87171;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 0.5rem;
}